<h1>
  <%= @sweet_product.name%>
</h1>
<div class="">
  <%@sweet_product.categories.each do |category|%>
    <%= link_to category.name, category_path(category),class: "badge bg-secondary"%>
  <%end%>
</div>
<span>
  <%= @sweet_product.price%>
  грн. за 100 грам
</span>
<%= sweet_product_image @sweet_product.image%>
<div class="">
  <% @sweet_product.images.each do|image|%>
    <%= image_tag image%>
  <%end%>
</div>
<%= render "call_me/form"%>
<p>
  <%= @sweet_product.description%>
</p>
